#**Functions in Python**
Functions are reusable blocks of code that:
 - Perform a specific task.
 - Make code modular and easier to debug.
 - Avoid repetition .

##**Recap: Arithmetic Operators**
Arithmetic operators are used for mathematical calculations:
 * `+` (Addition), `-` (Subtraction),
 *  `*` (Multiplication), `**` (Exponent)
 *  `/` (Division), `%` (Modulus), `//` (Floor Division)

In [ ]:
#let's take the below two number and do some arithmetic operators
a = 10
b = 3

In [ ]:
#addition
print("Addition:", a + b)

Addition: 13

In [ ]:
#Substraction
print("Subtraction:", a - b)

Subtraction: 7

In [ ]:
#multiplication
print("Multiplication:", a * b)

Multiplication: 30

In [ ]:
#division
print("Division:", a / b)

Division: 3.3333333333333335

In [ ]:
#it will round down to lowest integer value (3.3333 value to 3)
print("Floor Division:", a // b)

Floor Division: 3

In [ ]:
#modulus give us the remainder after division
print("Modulus (remainder):", a % b)

Modulus (remainder): 1

In [ ]:
#exponent
print("Exponent:", a ** b)

Exponent: 1000

In [ ]:
16 ** (1/4)

## Basic Function

In [ ]:
#Simple function
def greet():
  print("Hello, Data Analyst!")

# Call the function
greet()
greet()

Hello, Data Analyst!
Hello, Data Analyst!

In [ ]:
greet()

Hello, Data Analyst!

## Function with parameters

In [ ]:
#Function with parameters
def add_numbers(a,b):
  return a + b

add_numbers(6,5)

11

In [ ]:
add_numbers(1,3)

4

In [ ]:
# Write a function `say_hello(name)` that prints "Hello, {name}!".

def say_hello(name):
  print(f"Hello, {name}!")

#calling the function
say_hello("Paul")

Hello, Paul!

In [ ]:
# 2. Create a function `multiply(a, b)` that returns the product of `a` and `b`.
def multiply(a,b):
  result = a * b
  return result

In [ ]:
multiply(2,6)

12

In [ ]:
multiply(-1.3,-2)

2.6

In [ ]:
multiply(2,multiply(5,10))

100

In [ ]:
100

##Parameters vs Arguments

 - **Parameters**: Variables listed in the function definition.
 - **Arguments**: Actual values passed to the function.
 - **Default Parameters**: Assign default values if no argument is provided.

In [ ]:
# Default parameter(example: exponent=2)
def power(base,exponent=2):
  return base ** exponent

In [ ]:
power(3,4)

81

In [ ]:
power(power(3))

81

In [ ]:
#Create a function `calculate_area(length, width=10)` to compute rectangle area.
def calculate_area(length=20, width=10):
  return multiply(length, width)

In [ ]:
calculate_area(4,5)

20

In [ ]:
calculate_area(5)

50

In [ ]:
calculate_area()

200

In [ ]:
calculate_area(20)

200

In [ ]:
calculate_area(width=20)

400

## Return Statements
 - `return` sends a value back to the caller.
 - A function without `return` gives `None`.

In [ ]:
#Return vs print
def get_square(n):
  return n*n

square = get_square(4)
print("Square:", square)

Square: 16

In [ ]:
get_square(get_square(3))

Hello
Hello

81

In [ ]:
# Common mistake: No return statement
def wrong_square(n):
  print(n*n)

result = wrong_square(4)
print("Result:", result)  # Output: None

16
Result: None

## Scope of Variables

 - **Local Variables**: Defined inside a function (not accessible outside).
 - **Global Variables**: Defined outside functions (accessible everywhere).

In [ ]:
#Local vs global
global_var = "I’m global"

def test_scope():
    local_var = "I’m local"
    print(global_var)  # Works
    print(local_var)   # Works

test_scope()
print(global_var)
print(local_var)  # Error: local_var is not defined

I’m global
I’m local
I’m global

NameError: name 'local_var' is not defined

In [ ]:
#Local vs global
global_var = "I’m global"

def test_scope():
    local_var = "I’m local"
    global_var = "I'm also local"
    print(global_var)  # Works
    print(local_var)   # Works

test_scope()
print(global_var)

I'm also local
I’m local
I’m global

The global variable y can be accessed both inside and outside the function.

In [ ]:
y = 20  # Global variable
def print_global():
    x=12 #local variable
    print("Inside the function, y =", y)

print_global()
print("Outside the function, y =", y)

Please run the code after removing the comment(#) from the second print statment
this will give an NameError since we want to access local variable.

In [ ]:
y = 20  # Global variable
def print_global():
    x=12 #local variable
    print("Inside the function, y =", y)

print_global()
#Please run the code after removing the comment(#) below
#print("Outside the function, x =", x)

##Lambda Functions

 - **Lambda functions** are small, anonymous functions defined with `lambda`.
 - Ideal for short, single-use operations.
 - Syntax: `lambda arguments: expression`

In [ ]:
#Simple lambda

In [ ]:
#Lambda with multiple arguments

In [ ]:
#Using lambda with `sorted()`

In [ ]:
#Example with filter()

In [ ]:
#Using `map()` with a lambda

In [ ]:
#Using `zip()` to pair lists

## Python Built-in Functions

Python has many **built-in functions** ready to use. Common ones include:
 - `len()`, `print()`, `type()`
 - `sum()`, `min()`, `max()`, `sorted()`
 - 'abs()',int()

In [ ]:
#type(): Returns the type of an object
x = 5
print(type(x))

<class 'int'>

In [ ]:
type(x) == type(4)

True

In [ ]:
type(x) == type(4.0)

False

In [ ]:
type(float(x)) == type(4.0)

True

In [ ]:
#Using `sum()` and `max()`
numbers = [10, 20, 30]
print("Sum:", sum(numbers))
print("Max:", max(numbers))

Sum: 60
Max: 30

In [ ]:
#abs(): Returns the absolute value of a number
print(abs(-20))

20

In [ ]:
#min(): Returns the smallest item in an iterable
print(min(2, 5, 8, 1, 6))

1

In [ ]:
#int(): Converts a value to an integer
print(int("5"))

5

In [ ]:
print(int("Hello"))

ValueError: invalid literal for int() with base 10: 'Hello'

In [ ]:
#len(): Returns the length of an object
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

In [ ]:
s = "Hello"
len(s)

5

##Built-in module functions
Python offers a wide range of built-in module functions that are commonly used in various programming tasks. here are some of the most common one
* math.sqrt(): Returns the square root of a number
* math.floor(): Rounds down to the nearest integer
* random.randint(): Generates a random integer within a specified range
* datetime.now(): Returns the current date and time

In [ ]:
import math
math.sqrt(5)

2.23606797749979

In [ ]:
import random
# Generate a random number between 1 and 10
random_number = random.randint(1, 10)
print("Random number between 1 and 10:", random_number)

Random number between 1 and 10: 3

In [ ]:
random.randint?

In [ ]:
import datetime
# Get current date and time
current_datetime = datetime.datetime.now()
print("Current date and time:", current_datetime)

Current date and time: 2025-02-12 13:38:43.881233

In [ ]:
# Format the date and time
formatted_date = current_datetime.strftime("%d.%m.%Y %H:%M:%S")
print("Formatted date and time:", formatted_date)

Formatted date and time: 12.02.2025 13:38:43

## User Input



*   The **input()** function is used to take user input in Python.
*   By default, input() returns a **string**. You can convert it to other data
types using functions like int() or float().

In [ ]:
# Taking user input
name = input("Give me your name: ")
say_hello(name)

Give me your name: Thimo
Hello, Thimo!

In [ ]:
print("Hello to the squaring program")
number = int(input("Give me your number to square: "))
print(get_square(number))

Hello to the squaring program
Give me your number to square: 4
16

###Exercise
1. Ask the user for their favorite color and print: "Your favorite color is {color}".
2. Ask the user for two numbers and print their sum.
3. get price and quantity from the user and calculate the total cost

In [ ]:
#solution1

In [ ]:
#solution2

## Error Handling in Functions

- Use `try-except` blocks to handle errors gracefully inside functions.

In [ ]:
#Handling division by zero
#def safe_divide(a, b):

In [ ]:
#Create a function `sqrt(n)` that returns the square root, but handles negative inputs with an error message.
import math

#def sqrt(n):

### Exercise_1
Build a function `temperature_converter(celsius)` that returns the temperature in Fahrenheit (°F = °C × 9/5 + 32).

In [ ]:
# Temperature Converter

###Exercise_2
Write a Python function called square_number that:

1.   Takes a single input from the user, prompting them to "Enter a number: "
2.  Converts the user's input to an integer.
3. Calculates the square of that number.
4. Returns the calculated square.
5.Handles exceptions: If the user enters something that cannot be converted to an integer (like text), the function should print the message "Invalid input. Please enter a whole number." and return None.

In [ ]:
#solution_3
#def square_number():

###Exercise_4
Create a Python function named divide_numbers that:

1.  Takes two inputs from the user: the numerator and the denominator. Prompt them with "Enter the numerator: " and "Enter the denominator: ", respectively.
2.  Converts both inputs to floating-point numbers.
3. Divides the numerator by the denominator.
4. Returns the result of the division.
5. Handles exceptions:
If the user enters something that cannot be converted to a number, print "Invalid input. Please enter numbers only." and return None.
If the denominator is zero, print "Cannot divide by zero." and return None.

In [ ]:
#Solution 4
#def divide_numbers():

-------------------------------------**THANK YOU!**----------------------------